<h1 align="center">Products and Services available: </h1>
<div class="row">
	<div class="span8">
<table class="table">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Type</th>
		<th>Price</th>
		<th></th>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= product.name %></td>
		<td><%= product.description %></td>
		<td><%= product.product_type %></td>
		<td><%= sprintf("P%0.02f", product.price) %></td>
		<td>
			<%= form_for(@line_item, class: "form-inline") do |f| %>
			<%= f.hidden_field :cart_id, value: current_user.carts.last.id %>
			<%= f.hidden_field :product_id, value: product.id %>
			<%= f.hidden_field :unit_price, value: product.price %>
			<%= f.text_field :quantity, placeholder: "Quantity", class: "input-mini" %>
			<%= f.submit "Place Order", class: "btn btn-mini btn-primary" %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
</div>
<div class="span3">
		<h4><%= link_to "Your Cart: ", current_user.carts.last %></h4>
	<table id="cart" class="table">
		<tr>
			<th>Name</th>
			<th>Quantity</th>
			<th></th>
		</tr>
		<% current_user.carts.last.line_items.each do |line_item| %>
			<tr>
				<td><%= line_item.product.name %></td>
				<td><%= line_item.quantity %></td>
				<td><%= link_to "Remove", line_item, method: :delete, data: { confirm: "Remove #{line_item.product.name} from your order list?" }, class: "btn btn-mini btn-danger" %>
			</tr>
		<% end %>
		<tr>
			<td><strong>Total: </strong></td>
			<td><%= sprintf("P%0.02f", current_user.carts.last.line_items.to_a.sum(&:total)) %></td>
			<td></td>
		</tr>
		<tr>
			<% payment_service_for current_user.carts.last.id, '1891842',
                                   :amount => current_user.carts.last.line_items.to_a.sum(&:total),
                                   :service => :two_checkout,
                                   :credential2 => 'tango',
                                   :html => { :id => 'payment-form' } do |service| %>

  <% current_user.carts.last.line_items.each do |line_item| %>
    <% service.auto_settle prod: line_item.product.id.to_s + ',' + line_item.quantity.to_s,
      price: line_item.unit_price,
      name: line_item.product.name,
      description: line_item.product.description %>
  <% end %>
  <% unless current_user.carts.last.line_items.last.nil? %>
  <td><input class="btn" type=submit value=" Pay via credit card"></td>
  <% end %>
<% end %>
	<td colspan="2"><%= link_to "Pay using my credits", static_pages_credit_payment_path, data: { confirm: "You are about to purchase your orders using your own credits. Please review them carefully before proceeding."}, class: "btn" unless current_user.carts.last.line_items.to_a.sum(&:total) == 0 %></td>
		</tr>
	</table>
	</div>
</div>

