<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.number_field :account_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total, value: current_user.carts.last.line_items.to_a.sum(&:total) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h3>You have ordered for the following. Please review before proceeding..</h3>
<table class="table">
  <tr>
    <th></th>
  </tr>
  <% current_user.carts.last.line_items.each do |line_item| %>
  <tr>
        <td><%= line_item.product.name %></td>
        <td><%= line_item.product.description %></td>
        <td><%= line_item.product.price %></td>
        <td><%= line_item.quantity %></td>
        <td><%= link_to "Remove", line_item, method: :delete, data: { confirm: "Remove #{line_item.product.name} from your order list?" }, class: "btn btn-mini btn-danger" %>
  </tr>
  <% end %>
</table>