<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @account.full_name %>
</p>

<p>
  <b>Username:</b>
  <%= @account.username %>
</p>

<p>
  <b>Account type:</b>
  <%= @account.account_type %>
</p>

<p>
  <b>Credits:</b>
  <%= sprintf("P%0.02f", @account.credits) %>
</p>

<p>
  <b>Contact number:</b>
  <%= @account.contact_number %>
</p>

<p>
  <b>Email address:</b>
  <%= @account.email_address %>
</p>


<%= link_to 'Update', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
<br /><br />
<% unless @account.carts.last.nil? %>
<legend>Here are your recent orders:</legend>
<table class="table table-striped">
  <tr>
    <th>Cart id number</th>
    <th>Date purchased</th>
    <th>Time purchased</th>
    <th>Status</th>
    <th>Payment Method</th>
    <th></th>
  </tr>
  <% @account.carts.each do |cart| %>
  <tr>
    <td><%= cart.id %></td>
    <td><%= cart.date_purchased %></td>
    <td><%= cart.time_purchased.strftime("%H:%M") unless cart.time_purchased.nil? %></td>
    <td><%= cart.status %></td>
    <td><%= cart.payment_method %></td>
    <td><%= link_to "Show", cart, class: "btn btn-mini btn-primary" %></td>
  </tr>
  <% end %>
</table>
<% end %>